<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stash.tts</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jordantranchina/workspace/stash/tts/venv/bin/python</string>
        <string>tts.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/jordantranchina/workspace/stash/tts</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jordantranchina/workspace/stash/tts/tts.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jordantranchina/workspace/stash/tts/tts.stderr.log</string>
</dict>
</plist>
